{% extends 'main.html' %}


{% block content %}
<h1>Single Project Template</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laborum quam dolorum obcaecati soluta officia debitis sunt? Possimus repellat dolorem aut ex quaerat cum harum unde, animi voluptatibus iste quisquam.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laborum quam dolorum obcaecati soluta officia debitis sunt? Possimus repellat dolorem aut ex quaerat cum harum unde, animi voluptatibus iste quisquam.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laborum quam dolorum obcaecati soluta officia debitis sunt? Possimus repellat dolorem aut ex quaerat cum harum unde, animi voluptatibus iste quisquam.</p>

{% endblock content %}